body{
    font-family:Arial, Helvetica, sans-serif;
}

h1{
    font-size: 6em;
    text-align: center;
    color: rgb(182, 97, 97);
}

nav{
    font-size: 1.5em;
    display: flex;
    justify-content: space-between;
}

ul {
    flex-grow: 1;
    max-width: 50%;
    justify-content: space-evenly;
}

ul, li {
    display: flex;
    margin: 0;
    padding: 0;
    
}
/* @media (width: 500px) {
    h1{
        color:rgb(59, 199, 231);
    }
} */

/* @media screen and (min-width: 500px){
    h1{
        color:dodgerblue;
        font-size:15px;
    }
}

@media screen and (min-width: 800px){
    h1{
        color:burlywood;
        font-size:55px;
    }
}

@media screen and (min-width: 1200px){
    h1{
        color:mediumseagreen;
        font-size:20px;
    }
}
@media screen and (min-width: 1200px) and (max-width:1400px){
    h1{
        color:royalblue;
        font-size:20px;
    }
}

@media screen and (orientation: landscape){
    body{
        background-color: aqua;
    }
} */

/* Creating Responsive navigation with flexbox that support all device */
@media (max-width: 768px) {
    h1{
        font-size: 4em;
    }
    nav{
        flex-direction: column;
        align-items: center;
    }
    nav ul{
        flex-direction: column;
    }
}

@media (max-width: 576px) {
    h1{
        font-size: 2em;
    }
}