body{
    font-family:Arial, Helvetica, sans-serif;
}

h1{
    font-size: 6em;
    text-align: center;
    color: rgb(182, 97, 97);
}

nav{
    font-size: 1.5em;
}

ul, li {
    display: inline;
    margin: 0;
    padding: 0;
    
}